/* @font-face {
        font-family:'Candy' ;
        src: url(Dafont\candy_scratchones\Candy.otf) format('otf');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family:'BlytnutterDEMO' ;
        src: url(Dafont\blystnutter\BlytnutterDEMO.ttf) format('truetype');
        font-weight: normal;
        font-style: normal;
    } */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f9f9f9;;
    overflow-x: hidden;
}
header{
    position: fixed;
    width: 105%;
    top: 0;
    padding: 10px;
    background-color: #021373;
    z-index: 1000;
    
}
header:hover{
    border-bottom: 1px solid wheat;
}
header .logo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    filter: drop-shadow(0px 0px 10px blueviolet);
}
header nav{
    position: absolute;
    left: 50px;
    margin-right: 100px;
}
nav ul li{
    margin-left: 20px;
}
nav ul li a{
    padding: 10px;
    font-family:'KindestReality_DEMO';
    font-weight: lighter;
    text-decoration: none;
    filter: drop-shadow(0 5px 10px black);
    cursor: pointer;
}
footer li a:hover{
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration: none;
}
nav ul li a:active{
    background-color: aqua;
    border-radius: 10px;
    text-decoration: none;
}
i.fa-bars{
    display: none;
}
#moi{
    padding: 50px ;
    padding-top: 150px;
    display: flex;
    gap: 100px;
    width: 100%;
   
}
#moi .img-circle{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    box-shadow: 0px 0px 10px blueviolet;
    margin-left: 10px;
    transition: 0.3s;
}
#moi .img-circle:hover{
  transform: rotate(60deg);
}
#moi div h2{
    color: cadetblue;
    margin-left: 5px;
}
.lelead{
    padding-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}
span{
    cursor: pointer;
}
span::before{
    background-color: darkgreen;
}
#moi .btn{
    margin: 20px;
}
#monDiv{
    display: flex;
    justify-content: center;
    gap: 30px;
}

button:hover{
    letter-spacing: 5px;
    
}


#monDiv div{
    border-radius: 10px;
    box-shadow: 0px 0px 10px white;
    width: 290px;
}
#monDiv p{
    text-align: center;
    color: lightslategrey;
}
#Projects{ 
    padding: 20px;
    display: flex;
    left: 0;
    overflow: hidden;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #021373;
    color: limegreen;
}
#Projects .pro{
    text-align: center;
}
#Projects span{
    border: 1px solid;
    padding: 10px;
    box-shadow: 0px 0px 5px blueviolet;
}
#about{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    gap:70px;
}
#about img{
    height: 500px;
    width: 100%;
    border: 1px solid ;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #021373;
    margin-left: 100px;
}
.about{
    
    border-radius: 10px;
    padding-top: 10px;
    min-height: 500px;
    margin-left: 20px;
   box-shadow: 0px 0px 10px wheat;
   font-family: 'Open Sans', sans-serif;
   font-size: 16px;
   color: #333;
   width: 100%;

}

body h5{
    text-align: center;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color:black;
}
.log{
    display: flex;
    flex-direction: row;
}
.menu{
    display: none;
}
.fas{
    bottom: 5px;
    border-radius: 100%;
    align-self: center;
    padding: 5px;
    cursor: pointer;
    color: khaki;
}
#Touch{
    padding-bottom: 30px;
    padding: 20px;
    background-color: lightgrey;
    max-width: 100%;
}
#Touch li{
    list-style: none;
    margin: 10px;
}
#Touch img{
    border: 1px solid;
    border-radius: 10px;
    height: 400px;
    max-width: 700px;
    margin-left: 90px;
    box-shadow: 0px 0px 10px #021373;
}

.opp{
  
    text-align: center;
}
#Skill{
    margin-top: 30px;
    max-width: 100%;
}
#Skill .row div{
   border: 1px  wheat;
   border-radius: 10px;
   margin: 50px;
   box-shadow: 0px 0px 10px wheat;
   padding: 20px;
   
   
}
#Skill .row div:hover{
  letter-spacing: 3px;
}

.form{
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 0px 0px 10px wheat;
    margin: 20px;
}
footer{
    padding: 20px;
    background-color: #021373;
    
}
span:active{
    background-color: forestgreen;
}

.trans{
    color: lightyellow;
    opacity: 0.2;
}
footer ul li{
    list-style: none;
    color: lightcoral;
}
footer h6{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.fa-star{
    color: green;
}
#veriFormulaire{
    color:red;
    text-align: center;
}
.fa-check{
    color: green;
}
@media (max-width:1060px) {
    i.fa-bars{
        display: block;
        margin: 20px;
    }
    nav{
        display: none !important;
    }
    img{
        width: auto;
    }
    header{
        background-color:  cadetblue;
    }
    #Touch img{
        width: auto;
        margin-left: 0;
    }
    #about img{
        width: 300px;
    }
    html, body{
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: black;

    }
    #monDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        place-items: center;
    }
    #monDiv div{
        width: 100%;
    }
    #monDiv div img{
        width: 100%;
    }
    header{
        max-width: 100%;
    }
    .menu{
        display: block;
        width: 55%;
        background-color: black;
        opacity: 0.8;
        position: relative;
        position: fixed;
        top: 0;
        left: 0;
        padding: 10px 10px 10px 0px;
        z-index: 20000;
        display: none;
    }
    .menu li{
        margin: 5px;
    }
    .menu a{
        font-family: Arial, Helvetica, sans-serif;
        font-size: x-large;
        color:blue;
    }
    .fa-close{
        left: 50%;
        color: red;
    }
    footer{
        background-color: lightblue;
    }
     #moi{
        background-color: lightpink;
     }
    body h5{
        font-size: 30px;
    }
    #Touch{
        width: 100%;
    }
    #about img{
        margin-left: 20px;
    }
    .form{
        background-color: lightslategray;
    }

    #Projects{
        letter-spacing: 3px;
    }
    
}